<form method="POST">
    <div>
        <label>name</label>
        <input type="text" value="{{profile.name}}" name="title">
    </div>
    <div>
        <label>surname</label>
        <textarea name="surname" id="" cols="30" rows="10">{{profile.surname}}</textarea>
    </div>
    <div>
        <label>image</label>
        <input type="text" value="{{profile.image}}" name="image">
        <img src="{{profile.image}}" width="350" height="350">
    </div>
    <button>save</button>
</form>


<!--<div>-->
<!--    <a href="/" class="main">Главная</a>-->
<!--    -> <span="/profile">Профайл</span>-->
<!--&lt;!&ndash;    <span> -> {{{profile.name}}}</span>&ndash;&gt;-->
<!--</div>-->

<!--<div>-->
<!--    <span class="furniture_title">{{profile.name}}</span>-->
<!--    <p class="furniture_description">{{profile.surname}}</p>-->
<!--    <p class="furniture_img">-->
<!--        <img src="{{profile.image}}" width="350" height="350">-->
<!--    </p>-->
<!--</div>-->