<div class="container p-4">
  <div>
      <a href="/home" class="main">Главная</a>
      <span class="main"> -> Админ</span>
  </div>

  <h1>{{{title}}}</h1>

  {{#if admin}}
      <ul>
          {{#each admin}}
              <li class="news_title">
                  <a href="{{this.url}}">{{this.title}}</a>
              </li>
          {{/each}}
      </ul>
  {{/if}}

  <div>
      {{#each pages}}
          <a href="/admin?page={{this}}"> {{this}}</a>
      {{/each}}
  </div>

  <div class="admin-list-group list-group">
    <a href="/admin/news" class="list-group-item list-group-item-action">Новости</a>
    <a href="/admin/articles" class="list-group-item list-group-item-action">Статьи</a>
    <a href="/admin/category" class="list-group-item list-group-item-action">Категории</a>
    <a href="/admin/profile" class="list-group-item list-group-item-action">Профайл</a>
  </div>
</div>
