<h1>{{{title}}}</h1>

{{#if news}}
    <ul>
        {{#each news}}
            <li>{{this.title}}</li>
            <p>
                {{description}}
            </p>
        {{/each}}
    </ul>
{{/if}}




<!--<h1>{{title}}</h1>-->

<!--{{#if advantages}}-->
<!--    <p>Advantages</p>-->

<!--    <ul>-->
<!--        {{#each advantages}}-->
<!--            <li>{{this}}</li>-->
<!--        {{/each}}-->
<!--    </ul>-->
<!--{{/if}}-->


<!--{{#if content}}-->
<!--    <p>{{content}}</p>-->
<!--{{/if}}-->

