<div class="container p-4">
    <div>
        <a href="/home" class="main">Главная</a>
        <span class="main"> -> Последние новости</span>
    </div>

    {{#if news}}
        <ul>
            {{#each news}}
                <li class="news_title">
                    <a href="{{this.url}}">{{this.title}}</a>
                </li>
                <p class="news_description">
                    {{description}}
                </p>
            {{/each}}
        </ul>
    {{/if}}

    <div>
        {{#each pages}}
            <a href="/home?page={{this}}"> {{this}}</a>
        {{/each}}
    </div>

</div>
