<div class="container p-4">
      <div>
        <a href="/" class="main">Главная</a>
        <span class="main"> -> Профайл</span>
    </div>

    <h1>{{{title}}}</h1>

    <a href="/profile/{{profile._id}}">edit</a>

    {{#if profile}}
        <div>
            {{profile.name}}
        </div>
        <div>
            {{profile.surname}}
        </div>
        <div>
            {{profile.birth_date}}
        </div>
    {{/if}}
</div>
