<div>
    <a href="/" class="main">Главная</a>
    -> <a href="/articles">Статьи</a>
    <span> -> {{{articles.title}}}</span>
</div>

<h1>{{{articles.title}}}</h1>

<div>
    <span class="furniture_title">{{articles.title}}</span>
    <p class="furniture_description">{{articles.description}}</p>
    <p class="furniture_img">
        <img src="{{articles.image}}" width="350" height="350">
    </p>
</div>