<div class="container p-4">
  <div>
      <a href="/home" class="main">Главная</a>
      -> <a href="/articles">Статьи</a>
      <span> -> {{{articles.title}}}</span>
  </div>

  <h1>{{{articles.title}}}</h1>

  <div>
      <h3>{{articles.title}}</h3>
      <div>{{articles.description}}</div>
      <img src="{{articles.image}}" class="furniture_img my-4">
  </div>
</div>
