<div>
    <a href="/" class="main">Главная</a>
    -> <a href="/shops">Магазины</a>
    <span> -> {{{shops.title}}}</span>
</div>

<h1>{{{shops.title}}}</h1>

<div>
    <span class="furniture_title">{{shops.title}}</span>
    <p class="furniture_description">{{shops.address}}</p>
    <p class="furniture_img">
        <img src="{{shops.img}}" width="350" height="350">
    </p>
    <p class="news_description">
        {{shops.description}}
    </p>
    <table>
        {{shops.schedule}}
    </table>

</div>