<div>
    <a href="/" class="main">Главная</a>
    -> <a href="/shops">Магазины</a>
    <span> -> {{{shops.title}}}</span>
</div>

  <h1>{{{shops.title}}}</h1>

  <div>
    <h3>{{shops.title}}</h3>
    <div>{{shops.address}}</div>
    <img src="{{shops.img}}" class="furniture_img my-4">
    <div class="mb-4">
        {{shops.description}}
    </div>

    <h4>Время работы:</h4>
    <table class="mb-4">
      <tr>
        <td>Понедельник:</td>
        <td>{{shops.schedule.Monday}}</td>
      </tr>
      <tr>
        <td>Вторник:</td>
        <td>{{shops.schedule.Thusday}}</td>
      </tr>
      <tr>
        <td>Среда:</td>
        <td>{{shops.schedule.Wednesday}}</td>
      </tr>
      <tr>
        <td>Четверг:</td>
        <td>{{shops.schedule.Thursday}}</td>
      </tr>
      <tr>
        <td>Пятница:</td>
        <td>{{shops.schedule.Friday}}</td>
      </tr>
      <tr>
        <td>Суббота:</td>
        <td>{{shops.schedule.Saturday}}</td>
      </tr>
      <tr>
        <td>Воскресенье:</td>
        <td>{{shops.schedule.Sunday}}</td>
      </tr>
    </table>

    <div id="map" style="width: 600px; height: 400px"></div>
  </div>
</div>

<script>
  ymaps.ready(init);

  function init() {
    var myMap = new ymaps.Map("map", {
        center: [{{shops.coordinates.latitude}}, {{shops.coordinates.longitude}}],
        zoom: 12
      }, {
        searchControlProvider: 'yandex#search'
      });
    myMap.geoObjects
      .add(new ymaps.Placemark([{{shops.coordinates.latitude}}, {{shops.coordinates.longitude}}], {
        preset: 'islands#icon',
        iconColor: '#0095b6'
      }))
  }

</script>
