<div class="container p-4">
  <div class="mb-4">
      <a href="/" class="main">Главная</a>
      -> <a href="/categories">Категории</a>
      -> <a href="/categories/car_goods">{{{title}}}</a>
      <span> -> {{{product.title}}}</span>
  </div>

  <div>
      <h3>{{product.title}}</h3>
      <div>{{product.description}}</div>
      <img src="{{product.preview_img}}" class="furniture_img my-4">
  </div>
</div>

