<div>
    <a href="/" class="main">Главная</a>
    -> <a href="/news">Новости</a>
    <span> -> {{{news.title}}}</span>
</div>

<h1>{{{news.title}}}</h1>

<div>
    <span class="furniture_title">{{news.title}}</span>
    <p class="furniture_description">{{news.description}}</p>
    <p class="furniture_img">
        <img src="{{news.image}}" width="350" height="350">
    </p>
</div>