<form action="/admin/news/{{news.key}}/edit" method="POST">
    <div>
        <label>title</label>
        <input type="text" value="{{news.title}}" name="title">
    </div>
    <div>
        <label>description</label>
        <textarea name="description" id="" cols="30" rows="10">{{news.description}}</textarea>
    </div>
    <div>
        <label>image</label>
        <input type="text" value="{{news.image}}" name="image">
        <img src="{{news.image}}" width="350" height="350">
    </div>
    <button>save</button>
</form>